<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="3fb92f2d-ec2f-455c-b1ab-45ac2edaf9ad" Publisher="CN=lasse" Version="1.0.0.0" />
  <Properties>
    <DisplayName>SMARTcontrol</DisplayName>
    <PublisherDisplayName>lasse</PublisherDisplayName>
    <Logo>Assets\Logo-70x70.2.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="SMARTcontrol.App">
      <m2:VisualElements DisplayName="SMARTcontrol" Square150x150Logo="Assets\Logo-150x150.png" Square30x30Logo="Assets\Logo-30x30.png" Description="SMARTcontrol" ForegroundText="light" BackgroundColor="#FFFFFF">
        <m2:DefaultTile Square310x310Logo="Assets\Logo-310x310.png" DefaultSize="square150x150Logo" Square70x70Logo="Assets\Logo-70x70.png" Wide310x150Logo="Assets\Logo-310x150.png">
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\Logo-1116x540.png" BackgroundColor="#FFFFFF" />
        <m2:InitialRotationPreference>
          <m2:Rotation Preference="landscape" />
          <m2:Rotation Preference="landscapeFlipped" />
        </m2:InitialRotationPreference>
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="privateNetworkClientServer" />
  </Capabilities>
</Package>